#root {
  height: 100%;
  text-align: center;
  background: url(./assets/swaying.gif) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
}

main {
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  text-transform: lowercase;
}

footer {
  font-size: 1.8rem;
}
